<template>
  <a v-on:click="addToFavorites()" class="btn btn-sm" v-bind:class="buttonClass" href="#favorite">
    <fa-icon :icon="['far', 'star']"></fa-icon> {{buttonText}}
  </a>
</template>

<script>
import axios from 'axios';

export default {
  name: "favorite-button",
  props: ["movie"],
  data: function() {
    return {
      isFavorite: false
    };
  },
  mounted: function() {
    axios.get(this.apiAuthUrl('movie/' + this.movie.id + '/account_states'))
    .then(response => {
      this.isFavorite = response.data.favorite
    });
  },
  methods: {
    addToFavorites: function() {
      if (this.isFavorite) {
        this.$toasted.show("Already a favorite").goAway(3000);

        return;
      }
      
      axios.post(this.apiAuthUrl("account/" + this.account.id + "/favorite"), {
        'media_type': 'movie',
        'media_id': this.movie.id,
        'favorite': true
      })
      .then(response => {
        this.$toasted.show('Movie added to favorites').goAway(3000);     

        this.isFavorite = true;
        this.$forceUpdate();
      });
    }
  },
  computed: {
    buttonClass: function() {
      return {
        "btn-outline-primary": !this.isFavorite,
        "btn-primary": this.isFavorite
      };
    },
    buttonText: function() {
      return this.isFavorite ? 'Favorite' : 'Add to favorites';
    }
  }
};
</script>

<style>
</style>
