<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
    <router-link to="/" class="navbar-brand">Movies</router-link>
    <ul class="navbar-nav">
      <li class="nav-item">
        <router-link to="/popular" class="nav-link">Popular</router-link>
      </li>
    </ul>
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <router-link to="/favorites" class="nav-link">
          <fa-icon :icon="['far', 'star']"></fa-icon>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/user" class="nav-link">
          <span v-if="account">{{ account.username }}</span>
          <fa-icon v-else :icon="['far', 'user']"></fa-icon>
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
    name: 'main-menu'
};
</script>