<template>
  <div class="row mt-5">
    <h1>Popular Movies</h1>
    <ul class="list-unstyled">
      <li v-for="movie in movies" :key="movie.id">
        <movie-row v-bind:movie="movie"></movie-row>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
import MovieRow from "./Movie/MovieRow";

export default {
  name: "movie-list",
  data: () => {
    return {
      movies: {}
    };
  },
  mounted: function() {
    axios.get(this.apiUrl("movie/popular")).then(response => {
      this.movies = response.data.results;
    });
  },
  components: {
      MovieRow
  }
};
</script>

<style lang="scss">

</style>
