<template>
  <div class="row mt-5">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Watchlist</h5>
              <ul class="list-group">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                  v-for="movie in watchlist.results"
                  :key="movie.id"
                >
                  {{ movie.title }}
                  <button
                    class="btn btn-sm btn-danger"
                    title="Delete from watchlist"
                    @click="deleteFromWatchList(movie)"
                  >
                    <fa-icon :icon="['far', 'trash-alt']"></fa-icon>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Favorites</h5>
              <ul class="list-group">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                  v-for="movie in favorites.results"
                  :key="movie.id"
                >
                  {{ movie.title }}
                  <button
                    class="btn btn-sm btn-danger"
                    title="Delete from watchlist"
                    @click="deleteFromFavorites(movie)"
                  >
                    <fa-icon :icon="['far', 'trash-alt']"></fa-icon>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">User Details</h5>
              <div class="row card-text">
                <div class="col-6">
                  <b>Username</b>
                </div>
                <div class="col-6">{{ account.username }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "user",
  data: function() {
    return {
      watchlist: {},
      favorites: {}
    };
  },
  mounted: function() {
    if (!this.sessionToken) {
      if (this.$route.query.request_token) {
        axios
          .post(this.apiUrl("authentication/session/new"), {
            request_token: this.$route.query.request_token
          })
          .then(response => {
            localStorage.setItem("sessionToken", response.data.session_id);
            axios
              .get(
                this.apiUrl("account") +
                  "&session_id=" +
                  response.data.session_id
              )
              .then(response => {
                localStorage.setItem("account", JSON.stringify(response.data));

                window.location = "http://localhost:8080/#/user/";
              });
          });

        return;
      }
      axios.get(this.apiUrl("authentication/token/new")).then(response => {
        var data = response.data;
        var redirectUri =
          "?redirect_to=" + encodeURIComponent("http://localhost:8080/#/user");
        window.location =
          "https://www.themoviedb.org/authenticate/" +
          data.request_token +
          redirectUri;
      });
    } else {
      this.fetchUserData();
    }
  },
  methods: {
    fetchUserData: function() {
      axios
        .get(
          this.apiAuthUrl("account/" + this.account.id + "/watchlist/movies")
        )
        .then(response => {
          this.watchlist = response.data;
        });

      axios
        .get(
          this.apiAuthUrl("account/" + this.account.id + "/favorite/movies")
        )
        .then(response => {
          this.favorites = response.data;
        });  
    },
    deleteFromWatchList: function(movie) {
      axios.post(this.apiAuthUrl("account/" + this.account.id + "/watchlist"), {
        'media_type': 'movie',
        'media_id': movie.id,
        'watchlist': false
      })
      .then(response => {
        this.$toasted.show('Movie deleted from watchlist').goAway(3000);
        
        this.fetchUserData();
      })
    },
    deleteFromFavorites: function(movie) {
      axios.post(this.apiAuthUrl("account/" + this.account.id + "/favorite"), {
        'media_type': 'movie',
        'media_id': movie.id,
        'favorite': false
      })
      .then(response => {
        this.$toasted.show('Movie deleted from favorites').goAway(3000);
        
        this.fetchUserData();
      })
    }
  }
};
</script>

<style>
</style>
