<template>
  <div class="row movie-detail">
    <div class="col-4">
      <img class="img-logo" :src="mediaUrl(movie.poster_path, 'w342')" alt>
    </div>
    <div class="col-8 d-flex justify-content-between flex-column mt-3">
      <div>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.overview }}</p>
      </div>
      <div>
        <ul class="list-unstyled d-flex flex-row justify-content-end mb-0">
          <li class="mr-3">
            <fa-icon :icon="['far','calendar-alt']"></fa-icon>
            {{ movie.release_date }}
          </li>
          <li class="mr-3">
            <fa-icon :icon="['far', 'star']"></fa-icon>
            {{ movie.vote_average }}
          </li>
        </ul>
      </div>
    </div>
    <div class="position-top-right">
      <favorite-button v-bind:movie="movie"></favorite-button>
    </div>
  </div>
</template>

<script>
import FavoriteButton from "../FavoriteButton";

export default {
    name: 'movie-row',
    props: ['movie'],
    components: {
        FavoriteButton
    }
};
</script>

<style lang="scss">
@import "../../assets/scss/variables";
.movie-detail {
  margin: 10px;
  padding: 15px 0;
  border: 1px solid $gray-lighter;
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;

  img {
    max-width: 320px;
  }

  h2 {
    font-size: 72px;
    margin-top: 20px;
  }

  .release-year {
    font-size: 32px;
    color: $gray-light;
  }
}

.position-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}
</style>
