<template>
  <div id="app">
    <header>
      <main-menu></main-menu>
    </header>
    <section class="container">
      <router-view></router-view>
    </section>
  </div>
</template>

<script>

require('jquery');
require('popper.js');
require('bootstrap');
import MainMenu from './components/MainMenu';

export default {
  name: 'app',
  components: {
    MainMenu
  }
}
</script>

<style lang="scss">
@import './assets/scss/variables.scss';
@import '../node_modules/bootstrap/scss/bootstrap';

.svg-inline--fa {
  margin-right: 5px;
}
</style>
